{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# Load the Hammerspoon configuration from ~/.config instead of ~/.hammerspoon.
defaults write org.hammerspoon.Hammerspoon MJConfigFile "~/.config/hammerspoon/init.lua"
{{- end }}
