# ~/.bashrc

# ==================== Envs ====================

{{- if eq .chezmoi.os "darwin" }}
# --- bash-warning(macOS) ---
export BASH_SILENCE_DEPRECATION_WARNING="1"
{{- end }}

{{- range .env }}
{{- $vars := .vars }}

# --- {{ .category }} ---
{{- range sortAlpha (keys $vars) }}
export {{ printf . }}="{{ index $vars . }}"
{{- end }}
{{- end }}


# ==================== Paths ====================

# --- all paths ---
export PATH="{{ .paths | join ":" }}:$PATH"


# ==================== Aliases ====================
{{- range .aliases }}
{{- $cmds := .cmds }}

# --- {{ .category }} ---
{{- range sortAlpha (keys $cmds) }}
alias {{ . }}='{{ index $cmds . }}'
{{- end }}
{{- end }}


{{- if eq .chezmoi.os "darwin" }}
{{- range .aliases_darwin }}
{{- $cmds := .cmds }}

# --- {{ .category }}(macOS) ---
{{- range sortAlpha (keys $cmds) }}
alias {{ . }}='{{ index $cmds . }}'
{{- end }}
{{- end }}
{{- end }}

{{- if lookPath "nvidia-smi" }}

# --- nvidia-smi ---
alias ns='nvidia-smi'
{{- end }}


# ==================== Initializations ====================

# nix
if [ -e "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh" ]; then
    . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
fi

# brew
{{- if eq .chezmoi.os "darwin" }}
if [[ -x /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{- end }}

# mise
if command -v mise &>/dev/null; then
    eval "$(mise activate bash)"
fi

{{- if stat (joinPath .chezmoi.homeDir ".cargo" "env") }}
# rust
source "$HOME/.cargo/env"
{{- end }}

# fzf
if command -v fzf &>/dev/null; then
    eval "$(fzf --bash)"
fi

# uv (python)
if command -v uv &>/dev/null; then
    eval "$(uv generate-shell-completion bash)"
fi

# theme
if command -v starship &>/dev/null; then
    eval "$(starship init bash)"
fi
