# compinit is handled by sheldon (deferred)
# autoload -Uz compinit && compinit

# Define compdef queue to handle calls before compinit is loaded
typeset -a __compdef_queue
function compdef() {
    __compdef_queue+=("$*")
}

zstyle ':completion:*' verbose yes
zstyle ':completion:*:descriptions' format '%F{green}-- %d --%f'
zstyle ':completion:*:messages' format '%F{yellow}%d%f'
zstyle ':completion:*:warnings' format '%F{red}No matches for: %d%f'
zstyle ':completion:*' group-name ''


# ==================== Envs ====================
{{- range .env }}
{{- $vars := .vars }}

# --- {{ .category }} ---
{{- range sortAlpha (keys $vars) }}
export {{ printf . }}="{{ index $vars . }}"
{{- end }}
{{- end }}


# ==================== Paths ====================

# --- all paths ---
export PATH="{{ .paths | join ":" }}:$PATH"


# ==================== Aliases ====================
{{- range .aliases }}
{{- $cmds := .cmds }}

# --- {{ .category }} ---
{{- range sortAlpha (keys $cmds) }}
alias {{ . }}='{{ index $cmds . }}'
{{- end }}
{{- end }}


{{- if eq .chezmoi.os "darwin" }}
{{- range .aliases_darwin }}
{{- $cmds := .cmds }}

# --- {{ .category }}(macOS) ---
{{- range sortAlpha (keys $cmds) }}
alias {{ . }}='{{ index $cmds . }}'
{{- end }}
{{- end }}
{{- end }}

{{- if lookPath "nvidia-smi" }}

# --- nvidia-smi ---
alias ns='nvidia-smi'
{{- end }}

# ==================== Initializations ====================

# nix
if [ -e "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh" ]; then
    . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
fi

# brew
{{- if eq .chezmoi.os "darwin" }}
if [[ -x /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{- end }}

# mise
if command -v mise &>/dev/null; then
    eval "$(mise activate zsh)"
fi


{{- if stat (joinPath .chezmoi.homeDir ".cargo" "env") }}
# rust
source "$HOME/.cargo/env"
{{- end }}

# fzf
if command -v fzf &>/dev/null; then
    eval "$(fzf --zsh)"
fi

# uv (python)
if command -v uv &>/dev/null; then
    eval "$(uv generate-shell-completion zsh)"
fi

# theme
if command -v starship &>/dev/null; then
    eval "$(starship init zsh)"
fi

# sheldon
export SHELDON_CONFIG_DIR="$HOME/.config/sheldon"
if command -v sheldon &>/dev/null; then
    eval "$(sheldon source)"
fi
