{{- $u := .github.username -}}
{{- $id := (output "curl" "-fsSL" (printf "https://api.github.com/users/%s" $u) | fromJson).id -}}

[user]
    name  = {{ $u }}
    email = {{ printf "%v+%s@users.noreply.github.com" $id $u }}